@media(min-width: 1740px){
	#center-column #panel-container .card{
		width: 24%;
	}
	.card img.panel-image{
		height: 220px;
	}
}

@media(min-width: 1085px) and (max-width: 1739px){
	#center-column #panel-container .card{
		width: 48%;
	}
	.card img.panel-image{
		height: 350px;
	}
}

@media(min-width: 1540px){
	#welcome{
		width: 35%;
		margin-top: 4rem;
	}
	#meetup-map-container{
		width: 65%;
		padding-right: 5px;
	}
	#meetup-map-container #meetup-map{
		margin: 1em 0 1em 1em;
	}
}

@media(min-device-width: 920px){
	#header-links-mobile{
		display: none !important;
	}
	#header-links-desktop{
		height: 100%;
		padding-top: 1rem;
		display: flex !important;
		justify-content: flex-end;
	}
}

@media(min-width: 920px){
	#header-links-desktop{
		height: 100%;
		padding-top: 1rem;
		display: flex !important;
		justify-content: flex-end;
	}
	#header-links-mobile{
		display: none !important;
	}
	#center-column{
		width: 70%;
	}
}

@media(max-device-width: 919px){
	#header-links-desktop, #header-links-desktop li.nav-item{
		display: none !important;
	}
	#header-links-mobile{
		display: block !important;
	}
}

@media(max-width: 919px){
	#header-links-desktop, #header-links-desktop li.nav-item{
		display: none !important;
	}
	#header-links-mobile{
		display: block !important;
	}
}

@media(max-device-width: 769px){
	#center-column{
		width: 90%;
	}
	img.panel-image{
		height: 500px;
	}
	.card-links a.btn{
		font-size: 1.5rem;
	}
}

@media(max-width: 1549px){
	#welcome{
		width: 100%;
	}
	#meetup-map-container{
		width: 100%;
	}
}

@media(max-width: 899px){
	nav .header-link {
		display: none;
	}
}

@media(max-device-width: 845px){
	#center-column #panel-container .card{
		width: 100%;
	}
	#center-column #panel-container .card .card-body{
		min-height: 15rem;
	}
}

@media(min-device-width: 770px){
	nav.navbar div span{
		font-size: 1.5rem;
		font-weight: normal;
	}
	div.card-body div.card-links a.btn.btn-lg{
		padding: 0.8rem;
	}
}

@media(max-device-width: 769px){
	nav.navbar div span{
		font-size: 3rem;
		font-weight: bold;
	}
	nav.navbar div.brand a.navbar-brand img{
		width: 100px;
		height: 90px;
	}
	footer #blackstripe{
		height: 35rem;
	}
	#blackstripe #organizer-email{
		font-size: 3rem;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	#blackstripe #reach-out, #blackstripe #tourney-callout{
		font-size: 2rem;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	#blackstripe #icon-plane{
		width: auto;
		height: auto;
	}
	#blackstripe #icon-plane img{
		width: 100px;
		height: 78px;
	}
	#blackstripe div#icons{
		width: 100%;
	}
	#blackstripe div#icons a img{
		width: 70px;
		height: 70px;
	}
	#welcome.jumbotron{
		padding-bottom: 0;
	}
	#splash #welcome p{
		font-size: 2rem;
	}
	#hamburger{
		visibility: visible;
	}
}

@media(max-width: 920px){

	nav .header-link {
		visibility: hidden;
	}
	#container #center-column{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		padding: 0 0 1rem 1rem;
	}
}

@media(max-width: 1549px){
	div#splash div#welcome{
		margin-bottom: 0;
	}
}

@media(max-width: 600px) and (max-device-width: 600px){
	#splash #welcome .btn{
		font-size: 2rem;
	}
	#splash #welcome h1{
		font-size: 5.75rem;
	}
	body nav{
		height: 9rem;
	}
}

@media(max-device-width: 769px) and (min-device-width: 551px) {
	#center-column #panel-container div.card div.card-body h5.card-title{
		font-size: 2rem;
	}
	#center-column #panel-container div.card div.card-body p.card-text{
		font-size: 1.5rem;
		text-align: center;
	}
}

@media(max-device-width: 550px){
	body nav{
		height: 10rem;
	}
	body nav #header-links-mobile *{
		font-size: 2rem;
	}
	div#splash div#welcome a.btn{
		font-size: 2.5rem;
	}
	div#splash div#welcome h1.display-4{
		font-size: 6rem;
	}
	#center-column #panel-container div.card div.card-body h5.card-title{
		font-size: 3rem;
	}
	#center-column #panel-container div.card div.card-body p.card-text{
		font-size: 2.5rem;
		text-align: center;
	}
}

#center-column #panel-container div.card div.card-body p.card-text{
	color: black;
}

body{
	margin: 0;
}

div{
	font-family: "arial", sans-serif;
}

h2{
	margin-top: 0;
	margin-bottom: 0;
}

nav.navbar div.brand{
	display: flex;
	align-items: center;
}

ul#header-links-desktop li a.header-link {
	font-size: large;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}

#header-links-mobile{
	padding: 0;
	height: auto;
}

#header-links-mobile div.dropdown-menu a.dropdown-item{
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.fade-in-left{
	right: 50px;
	opacity: 0;
}

#container{
	width: 100%;
	background-color: white;
	margin: 0;
	padding: 0;
}

#welcome{
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: none;
	padding-bottom: 1rem;
}

#welcome-heading{
	color: black;
	font: italic 56px "Fira Sans", serif;
	text-align: left;
	font-size: 4em;
	padding: 0.5em 0 0.5em 1em;
	width: 95%;
	letter-spacing: -2px;
}

#welcome .display-4{
	font: italic 3.75rem "Fira Sans", serif;
	text-align: left;
}

#welcome p{
	font-size: 1.5rem;
	text-align: center;
}

#welcome p.lead{
	margin-bottom: 2rem;
}

#meetup-map-container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40rem;
	min-width: 20em;
}

#meetup-map{
	width: 95%;
	height: 90%;
	margin: 0 0 1em 0;
	border: none;
	border-radius: 5px;
}

#go-stones{
	display: flex;
	justify-content: center;
}

#go-stones img {
	margin-top: 3em;
}

#tagline{
	font-family: 'Playfair Display', serif;
	padding-top: 1em;
	margin: 0 auto;
	width: 40%;
	text-align: center;
	font-size: 2em;
	font-weight: lighter;
}

#scroll-text{
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	margin: 0 auto;
	padding-top: 8em;
	position: relative;
}

#scroll-two{
	font-family: "Times New Roman", serif;
	font-weight: lighter;
}

#panel-container{
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
}

#panel-container .card{
	min-width: 18rem;
	margin-bottom: 1rem;
}

.panel-image{
	max-width: 100%;
	max-height: 100%;
}

#panel-what-image, .media .media-body.panel-body{
	width: 50%;
}

.about-panel{
	width: 40%;
}

nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #ffffff;
	height: 6rem;
	min-height: 100px;
	padding: 1rem;
	width: 100%;
}

#container{
	width: 100%;
	background-color: #EFEFEF;
}
.jumbotron{
	background-color: #EFEFEF !important;
}

#center-column{
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2em;
}

.card-body h5.card-title{
	text-align: center;
}

.card-links{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.card-links a{
	font-size: medium;
}

.header-link{
	font-family: "arial", sans-serif;
	font-size: large;
	margin: 0 1rem 0 1rem;
	border-left: #555555;
}

.header-link:hover{
	text-decoration: none;
	color: darkblue;
}

#blackstripe{
	height: 280px;
	width: 100%;
	background-color: #222;
}

#icon-plane{
	width: 115px;
	height: 80px;
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
}

#organizer-email{
	font-family: 'Abel', serif;
	color: #ddd;
	font-size: 1.5em;
	width: 300px;
	margin: 0 auto 15px;
}

a#email{
	text-align: center;
}

a#email:link{
	color: #999;
	text-decoration: none;
	font-weight: lighter;
}

a#email:hover{
	color: white;
}

a#email:visited,a#email:active{
	text-decoration: none;
	font-weight: 100;
}

#reach-out{
	font-family: italic Abel sans-serif;
	color: #999;
	width: 145px;
	margin: 0 auto 20px auto;
}

#tourney-callout{
	font-family: italic Abel sans-serif;
	color: #999;
	width: 100%;
	text-align: center;
	margin: 0 auto 20px auto;
}

#icons{
	width: 135px;
	text-align: center;
	margin: 0 auto;
}

.socialIcon{
	width: 33px;
	height: 33px;
	margin: 4px;
}
#hambuger{
	width: 5rem;
	height: 5rem;
	background-color: white;
	display: flex;
	flex-direction: column;
}
#hamburger .hamburger-bar{
	background-color: rgba(0,0,0,0);
	border-bottom: #a9a9a9;
	height: 30%;
}


/* MD Bootstrap hamburger icon wizardry, see - https://mdbootstrap.com/docs/jquery/navigation/hamburger-menu/ */

/* This one is 'Icon 4' (Even though there are only 3 examples...? Okay, MDB...) */

@media(max-device-width: 919px){
	#header-links-mobile{
		height: 30%;
		width: 3rem;
		margin-right: 2rem;
	}
	#header-links-mobile .navbar-toggler{
		height: 100%;
		width: 100%;
		padding: 0;
	}
	#header-links-mobile .navbar-toggler .animated-icon{
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
	}
	#header-links-mobile .navbar-toggler .animated-icon span{
		width: 100%;
		height: 5px;
	}
	#header-links-mobile .navbar-toggler .animated-icon span:nth-child(2){
		top: 1rem;
	}
	#header-links-mobile .navbar-toggler .animated-icon span:nth-child(3){
		top: 2rem;
	}
}

.animated-icon{
	width: 30px;
	height: 20px;
	position: relative;
	margin: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

.animated-icon span{
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.animated-icon span{
	background: #000000;
}

.animated-icon span:nth-child(1) {
    top: 0;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
    left: 8px;
}

.animated-icon.open span:nth-child(2) {
    width: 0;
    opacity: 0;
}

.animated-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
}

/* The links that display/hide */

#navbar-contents{
	height: 5rem;
	font-size: 1rem;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

#navbar-contents li.nav-item{
	width: 33%;
	align-items: center;
	justify-content: center;
	display: flex;
}

#navbar-contents li.nav-item a.nav-link{
	font-size: 1.4rem;
	text-align: center;
}

#header-links-navbar{
	height: 100%;
}

