@media(min-width: 1151px){
	#welcome{
		width: 40%;
		margin-top: 4rem;
	}
}

@media(min-width: 1151px){
	#center-column{
		width: 90%;
	}
	#center-column #panel-container .card{
		width: 32%;
	}
	.card img.panel-image{
		height: 350px;
	}
}

@media(max-width: 1150px){
	#center-column{
		width: 70%;
	}
	.card img.panel-image{
		height: 350px;
	}
	#center-column #panel-container .card{
		width: 100%;
	}
}

@media(max-device-width: 769px){
	#center-column{
		width: 90%;
	}
	img.panel-image{
		height: 500px;
	}
}

@media(max-width: 1149px){
	#welcome{
		width: 100%;
	}
	div#event-widget{
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1rem;
	}
	#events-header {
		font-size: 2rem;
	}
	#loading{
		height: 500px;
	}
}

@media(max-device-width: 845px){
	#center-column #panel-container .card{
		width: 100%;
	}
	#center-column #panel-container .card .card-body{
		min-height: 15rem;
	}
}

@media(min-device-width: 770px){
	div.card-body div.card-links a.btn.btn-lg{
		padding: 0.8rem;
	}
}

@media(max-device-width: 769px){
	#welcome.jumbotron{
		padding-bottom: 0;
	}
	#splash #welcome p{
		font-size: 2.5rem;
	}
	#hamburger{
		display: block;
	}
}

@media(max-width: 920px){
	#container #center-column{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		padding: 0 0 1rem 1rem;
	}
}

@media(max-width: 1549px){
	div#splash div#welcome{
		margin-bottom: 0;
	}
}

@media(max-width: 600px) and (max-device-width: 600px){
	#splash #welcome .btn{
		font-size: 2rem;
	}
	#splash #welcome h1{
		font-size: 5.75rem;
	}
}

@media(max-device-width: 769px) and (min-device-width: 551px) {
	#center-column #panel-container div.card div.card-body h5.card-title{
		font-size: 2rem;
	}
	#center-column #panel-container div.card div.card-body p.card-text{
		font-size: 1.5rem;
		text-align: center;
	}
	.card-links a.btn{
		font-size: 2rem;
	}
}

@media(max-device-width: 550px){
	div#splash div#welcome a.btn{
		font-size: 2.5rem;
	}
	div#splash div#welcome h1.display-4{
		font-size: 6rem;
	}
	#center-column #panel-container div.card div.card-body h5.card-title{
		font-size: 3rem;
	}
	#center-column #panel-container div.card div.card-body p.card-text{
		font-size: 2.5rem;
		text-align: center;
	}
	.card-links a.btn{
		font-size: 2.5rem;
	}
}

#center-column #panel-container div.card div.card-body p.card-text{
	color: black;
}

body{
	margin: 0;
}

div{
	font-family: "arial", sans-serif;
}

h2{
	margin-top: 0;
	margin-bottom: 0;
}

#container{
	background-color: rgb(239, 239, 239);
}

.fade-in-left{
	right: 50px;
	opacity: 0;
}

#welcome.jumbotron{
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: none;
	padding-bottom: 1rem;
	background-color: white !important;
}

#welcome-heading{
	color: black;
	font: italic 56px "Fira Sans", serif;
	text-align: left;
	font-size: 4em;
	padding: 0.5em 0 0.5em 1em;
	width: 95%;
	letter-spacing: -2px;
}

#welcome .display-4{
	font: italic 3.75rem "Fira Sans", serif;
	text-align: left;
}

#welcome p{
	font-size: 1.5rem;
	text-align: center;
}

#welcome p.lead{
	margin-bottom: 2rem;
}


#meetup-map{
	width: 95%;
	height: 90%;
	margin: 0 0 1em 0;
	border: none;
	border-radius: 5px;
}

#go-stones{
	display: flex;
	justify-content: center;
}

#go-stones img {
	margin-top: 3em;
}

#tagline{
	font-family: 'Playfair Display', serif;
	padding-top: 1em;
	margin: 0 auto;
	width: 40%;
	text-align: center;
	font-size: 2em;
	font-weight: lighter;
}

#scroll-text{
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	margin: 0 auto;
	padding-top: 8em;
	position: relative;
}

#scroll-two{
	font-family: "Times New Roman", serif;
	font-weight: lighter;
}

#panel-container{
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
}

#panel-container .card{
	min-width: 18rem;
	margin-bottom: 1rem;
}

.panel-image{
	max-width: 100%;
	max-height: 100%;
}

#panel-what-image, .media .media-body.panel-body{
	width: 50%;
}

.about-panel{
	width: 40%;
}

.jumbotron{
	background-color: #EFEFEF !important;
}

#center-column{
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2em;
}

.card-body h5.card-title{
	text-align: center;
}

.card-links{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.card-links a{
	font-size: medium;
}

/*
  _______________________________
< Wow, what a cool events widget! >
  -------------------------------
  \   ^__^
   \  (oo)\_______
      (__)\       )\/\
	      ||----w |
	      ||     ||
       (rules below)
   |||               |||
   vvv               vvv
*/

@media(min-width: 1151px) and (max-width: 1739px){
	div#event-widget{
		width: 55%;
		padding: 1rem;
		margin-left: 5%;
	}
}

@media(max-device-width: 1739px){
	div#event-widget{
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1rem;
	}
	#events-header {
		font-size: 2.5rem;
	}
	#loading{
		height: 500px;
	}
}

@media(min-width: 1740px){
	div#event-widget{
		width: 55%;
		padding: 1rem;
		margin-left: 5%;
	}
	#events-header {
		font-size: 1.5rem;
	}
	#loading{
		height: 400px;
	}
}

@media(max-width: 769px){
	div#events-list div.event div.event-date{
		border-right: 2px solid grey;
	}
	div#events-list div.event div.event-date span.spandate, div#events-list div.event div.event-date span.spandayofweek{
		font-size: 1.8rem;
	}
}

#events-header{
	color: white;
	font-family: "arial", sans-serif;
	background-color: #0d47a1;
	padding: 1.5rem;
	border: 1px transparent;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

#events-list{
	background: white;
	border: 1px solid transparent;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	max-height: 450px;
	overflow-y: auto;
}

#events-list div.event{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
}

#events-list div.event div.event-date{
	width: 25%;
	margin: 1rem 0;
	border-right: 1px solid grey;
	display: inline-flex;
	flex-direction: column;
}

span.spandate{
	width: 100%;
	text-align: center;
	font-family: "arial",sans-serif;
	font-size: 1.4rem;
	color: #4e4e4e;
	align-self: flex-start;
	justify-self: flex-start;
}

span.spandayofweek{
	font-family: "arial",sans-serif;
	font-size: 1.4rem;
	color: #4e4e4e;
	align-self: flex-end;
	padding-right: 15px;
}

#events-list div.event div.event-text{
	width: 80%;
	padding: 1rem;
}

#events-list div.event div.event-name{
	font-size: 1.5rem;
}

#loading{
	display: flex;
	justify-content: center;
	align-items: center;
}

i.events-spinner{
	font-size: 8rem;
}